{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer" style="position: relative;">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">

          {%- for block in section.blocks -%}
      
            <div class="col-md-2">

              <div class="footer__links">
                <span class="footer__column-title">{{ block.settings.heading }}</span>
                {%- for link in block.settings.menu.links -%}
                  <a href="{{ link.url }}" class="footer__link">{{ link.title }}</a>
                {%- endfor -%}
              </div>
            </div>
  
          {%- endfor -%}
      
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer__extra">
          {% if section.settings.newsletter_enable != false %}
          <span class="footer__column-title">{{- section.settings.newsletter_heading -}}</span>
          {%- form 'customer' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    type="email"
                    name="contact[email]"
                    class="footer__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="youremail@company.com"
                    required
                    style="width: 100% ;"
                  >
            
                </div>
                <button type="submit" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}" style="width:100%; font-size: 1rem; padding: 10px 40px; text-align:center; margin-bottom: 1rem;">
                  {{ 'newsletter.button_label' | t }}
                </button>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus style="left: auto;right: 55px; bottom: 93%; background-color: white; padding: .5rem 1.2rem; border-radius: 3px;">{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          {% endif%}
          <p>{{ section.settings.footer_p }}</p>
          {% if section.settings.show_social != false %}  
          <div class="footer__social-icons">
            {%- if settings.social_facebook_link != blank -%}
              <a href="{{ settings.social_facebook_link }}" class="footer__social-link">
                <i class="fab fa-facebook-square"></i>
              </a>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <a href="{{ settings.social_instagram_link }}" class="footer__social-link">
                <i class="fab fa-instagram-square"></i>
              </a>
            {%- endif -%}
            {%- if settings.social_twitter_link != blank -%}
              <a href="{{ settings.social_twitter_link }}" class="footer__social-link">
                <i class="fab fa-twitter-square"></i>
              </a>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <a href="{{ settings.social_youtube_link }}" class="footer__social-link">
                <i class="fab fa-youtube"></i>
              </a>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
            <a href="{{ settings.social_tiktok_link }}" class="footer__social-link">
              <i class="fab fa-tiktok"></i>
            </a>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
            <a href="{{ settings.social_pinterest_link }}" class="footer__social-link">
              <i class="fab fa-pinterest"></i>
            </a>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
            <a href="{{ settings.social_snapchat_link }}" class="footer__social-link">
              <i class="fab fa-snapchat"></i>
            </a>
            {%- endif -%}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer__bottom">
          <div class="footer__copyright">© {{ 'now' | date: "%Y" }}, {{ shop.name }} All Rights Reserved</div>

          <div class="footer__extra-links">
            {%- for link in section.settings.footer_bottom_menu.links -%}
            
                <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                  {{ link.title }}
                </a>
        
            {%- endfor -%}
          
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>



{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      this.elements.input.value = event.currentTarget.dataset.value;
      this.querySelector('form')?.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "textarea",
      "id": "footer_p",
      "label": "Additional Info",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "link_list",
      "id": "footer_bottom_menu", 
      "label": "Footer menu"
    }
    
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"  
      }
    ]
  }
}
{% endschema %}
